function getAllData() {
	const randomColors = randomColor({count: {{ data | length }} });
	return [
		{% for entry, entry_data in data | dictsort %}
		{
			titleId: {{ entry | tojson}},
			label: {{ entry_data.title | tojson }},
			data: {{ entry_data.ranking | tojson }},
			borderColor: randomColors[{{ loop.index0 }}]+'bb',
			backgroundColor: randomColors[{{ loop.index0 }}],
			darkColor: randomColors[{{ loop.index0 }}],
			lightColor: randomColors[{{ loop.index0 }}]+'cc',
			hiddenColor: randomColors[{{ loop.index0 }}]+'1d',
			fill: false,
			hidden: false,
			tension: 0.3,
			animations: {
				y: {
					easing: 'easeOutBounce',
					duration: 300,
					delay: 300+{{ loop.index }}*10
				}
			}
		},
		{% endfor %}
	];
}
