<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link rel="icon" href="{{ "{}{}".format(site.baseurl, "favicon.png") }}">
		<title>{% block title %}{{ site.title }}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" /> 
		{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>