<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link rel="icon" href="{{ "{}{}".format(site.baseurl, "favicon.png") }}">
		<title>{% block title %}{{ site.title }}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" /> 
		<script data-goatcounter="https://mangatumeospace.goatcounter.com/count"
		        async src="//gc.zgo.at/count.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
