{% extends "layouts/base.html.j2" %}

{% block head %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="js/rankingdata.js"></script>
	<script src="js/rankingchart.js"></script>
	{% if site.ads_enabled %}
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			let adsOverlay = document.querySelector(".ads-overlay.active");
			adsOverlay.addEventListener("click", function() {
				for(let el of document.querySelectorAll('.blur')) {
					el.classList.remove("blur");
				}
				adsOverlay.classList.remove("active");
			});
		});
	</script>
	{% endif %}
{% endblock %}

{% block content %}
	{{ super() }}
	{% if site.ads_enabled %}
	<div class="ads-overlay active" align="center">
	{% include "includes/ads.html" %}
	</div>
	{% endif %}
{% endblock %}
