html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #4bc0c0;
    border: 3px solid #36a2eb;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    border: 3px dashed #36a2eb;
}

button:active {
    background-color: #36a2eb;
    border: 3px dashed #36a2eb;
}

input,
button {
    border-radius: 4px;
}

input {
    border: 3px solid #e9e9e9;
}

.fixed {
    position: fixed;
}

.top {
    top: 5px;
}

.bottom {
    bottom: 5px;
}

.right {
    right: 5px;
}

.left {
    left: 5px;
}
